<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>
<%= form.fields_for :stations do | station | %>
  <%= station.label :train, "路線" %>
  <%= station.text_field :train %>

  <%= station.label :home, "駅" %>
  <%= station.text_field :home %>

  <%= station.label :walking, "徒歩" %>
  <%= station.text_field :walking %>


  <%= station.label :train2, "路線" %>
  <%= station.text_field :train2 %>

  <%= station.label :home2, "駅" %>
  <%= station.text_field :home2 %>

  <%= station.label :walking2, "徒歩" %>
  <%= station.text_field :walking2 %>

<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
