<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @property.note %>
</p>

<% @property.stations.each do |form| %>

<p>
  <strong>路線:</strong>
  <%= form.train %>
  <p>
  <strong>駅:</strong>
  <%= form.home %>
</p>
<p>
  <strong>徒歩:</strong>
  <%= form.walking %>
</p>
</p>


<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
